@import '../bower_components/normalize-scss/normalize';

html, body, .container {
  box-sizing: border-box;
  height: 100%;
}

body {
  background: #FFF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  padding: 15px;
}

// SVG Styles
//
svg {
  display: block;
}

rect {
  fill: none;
}

text {
  font-size: 20px;
}

.cell-num-g {
  cursor: default;
  &.empty {
    cursor: pointer;
  }
  &.invalid {
    .cell {
      fill: #FFD3E0;
    }
  }
}

.cell {
  stroke-width: 2;
  stroke: #000;
  fill: transparent;
  .selected & {
    fill: #81F3FD;
  }
}

.number {
  fill: #000;
  .empty & {
    fill: #FF3B30;
  }
}

.square {
  stroke-width: 4;
  stroke: #000;
}

.num-pad-backplate {
  opacity: 1;
  &.hide {
    display: none;
    opacity: 0;
  }
  fill: rgba(0, 0, 0, 0.2);
}

.num-pad {
  opacity: 1;
  &.hide {
    display: none;
    opacity: 0;
  }

  @for $x from 0 through 8 {
    @for $y from 0 through 8 {
      &.pos-#{$x}-#{$y} {
        @if $x == 0 {
          transform: translate(-32px + 1 * 32px, -98px + $y * 32px);
        } @else if $x == 8 {
          transform: translate(-32px + 7 * 32px, -98px + $y * 32px);
        } @else {
          transform: translate(-32px + $x * 32px, -98px + $y * 32px);
        }
      }
    }
  }
}

.num-pad-background {
  fill: #FFF;
}

.num-pad-cell {
  stroke-width: 2;
  stroke: #FF9500;
  fill: transparent;
  cursor: pointer;
}
